@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 6% 4%;
    --foreground: 0 0% 96%;
    --card: 240 5% 8%;
    --card-foreground: 0 0% 96%;
    --popover: 240 5% 8%;
    --popover-foreground: 0 0% 96%;
    --primary: 210 52% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 46 97% 61%;
    --secondary-foreground: 240 6% 4%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 58%;
    --accent: 46 97% 61%;
    --accent-foreground: 240 6% 4%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 210 52% 44%;
    --radius: 0.625rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
